body {
    font-family: Roboto, sans-serif; 
    background-color: #ffffff;
    color: #434455;
}

/* Header */

.header {}

.header-nav {}

.header-nav-list {}

.header-nav-list-item {}

.header-logo {
    font-family: Raleway, sans-serif;
       color: #4D5AE5;
    font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.header-logo-color {
    font-family: Raleway, sans-serif;
    color: #2E2F42;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.header-nav-link {
    font-family: Roboto;
    color: #2E2F42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.header-address {}

.header-address-list {}

.header-address-list-item {}

.header-address-link {}


/* Hero */

.hero-background {
    background-color: #2E2F42;
}

.hero {
    color: #FFFFFF;
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
}

/* Features */

.features-list {}

.features-list-item {}

.features-title {
    font-family: Roboto;
    color: #2E2F42;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.features-text {
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* Team */

.teamlist {
    background-color: #F4F4FD;
}

.team {
    color: #2E2F42;
    text-align: center;
 font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {}

.team-list-item {
    background-color: #FFFFFF;
}

.team-title {
    color: #2E2F42;
    font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.team-descr {
    color: #434455;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* Portfolio */

.portfolio {
    color: #2E2F42;
    font-family: Roboto;
    text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        line-height: 1.11;
}

.portfolio-list {}

.portfolio-list-item {}

.porfolio-title {
    color: #2E2F42;
    font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.porfolio-descr {
    color: #434455;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* Footer */

.footer {
    background-color: #2e2f42;

}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logo-white {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.footer-title {
    color: #F4F4FD;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px; 
}